/* ============ Index ============ */
/* 
1 Resets - line 31

2 variables line - 90

3 typography line - 120 

4 layout - line 283

 ============ tablet Styles ============

2.1 variables - line 592

3.1 typography - line 595

4.1 layout - line 638

 ============ mobile styles ============ - line 725

2.2 varibales - line 728

3.2 typography - line 758

4.2 layout - line 799

*/

/* ============ Imports ============ */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*========= Resets ========= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
}

span {
    display: block;
}
/*========= Variables ========= */
:root {
    /*colors*/
    --logo-color: #5D13E7;
    --general-font-color: black;
    --button-font-color: white;
    --secondary-general-font-color: white;
    --seconday-button-font-color: black;
    --h2-color: black;
    --secondary-h2-color: white;
    --scrolling-h2-color: #BDF2D5;
    --button-color: #5D13E7;
    --secondary-button-color: #BDF2D5;
    --background-color: #BDF2D5;
    --seconday-background-color: #5D13E7;
    --third-background-color: white;
    --border-color: #5D13E7;
    --secondary-border-color: #BDF2D5;

    /* units */
    --header-links: 2rem;
    --logo-size: 4rem;
    --headings-size: 4rem;
    --general-font-size: 2rem;
    --card-font-size: 2rem;
    --btn-font-size: 1.6rem;
    --dates-font-size: 2.2rem;
    --footer-nav-links: 1.6rem;
}

/*========= Typography ========= */
html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif, 'Times New Roman';
}

.logo {
    font-size: var(--logo-size);
    color: var(--logo-color);
    font-weight: bold;
    line-height: 3rem;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* a:visited {
    color: unset;
} */

.header-nav a {
    font-size: var(--header-links);
    color: var(--general-font-color);
    margin-left: 2rem;
    font-weight: bold;
}

.header-nav a:hover {
    border-bottom: 2px solid var(--border-color);
}

h2 {
    font-size: var(--headings-size);
    color: var(--h2-color);
    border-left: 5px solid black;
    padding-left: 1rem;
    font-weight: bold;
}

#home h2 {
    margin: 15rem 0 5rem 5rem;
    border-color: var(--border-color);
}

p {
    font-size: var(--general-font-size);
    color: var(--general-font-color);
}

#home p {
    margin: 0rem 0 5rem 5rem;
    font-weight: bold;
    line-height: 2;
}

.event-card p {
    font-size: var(--card-font-size);
}

.scrolling-text  {
    font-size: var(--headings-size);
    color: var(--scrolling-h2-color);
}

.btn {
    font-size: var(--btn-font-size);
    color: var(--button-font-color);
    text-align: center;
    line-height: 4rem;
    border-radius: 25px;
    display: inline-block;
    width: 25rem;
    background-color: var(--button-color);
    border: none;
}

#about h2 {
    border-color: var(--secondary-border-color);
    color: var(--secondary-h2-color);
    margin-bottom: 5rem;
    margin-top: 2rem;
    margin-right: 5rem;
}

#about p {
    color: var(--secondary-general-font-color);
    line-height: 3;
    margin-bottom: 2rem;
}

button {
    font-size: var(--btn-font-size);
}

label {
    font-size: var(--general-font-size);
}

#events header h2 {
    margin-top: 2rem;
    border-color: var(--border-color);
}

.event-card p {
    margin-right: 2rem;
    font-weight: bold;
    font-size: var(--dates-font-size);
}

aside p {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    text-align: left;
}

#artists h2 {
    margin-top: 2rem;
    margin-right: 15rem;
    border-color: var(--secondary-border-color);
    color: var(--secondary-general-font-color);
}

.scrolling-text {
    font-weight: bold;
    font-size: 5rem;
    margin-top: 2rem;
}

.artists-cta-card p {
    color: var(--secondary-general-font-color);
    line-height: 1.5;
}

.artists-cta-card a {
    color: var(--seconday-button-font-color);
}

#sign-up header h2:nth-of-type(1) {
    border: none;
}

#sign-up h2 {
    border-color: var(--border-color);
    margin-bottom: 5rem;
}

#sign-up h1 {
    margin-bottom: 2rem;
}

input {
    font-size: 2rem;
}

.footer-nav a{
    font-size: var(--footer-nav-links);
    margin: 1rem;
    font-weight: bold;
}

.footer-nav a:hover {
    border-bottom: 2px solid var(--border-color);
}

/*========= Layout ========= */

.drop-down {
    display: none;
}

.close-menu {
    display: none;
}

html {
    scroll-behavior: smooth;
}

#home {
    background-color: var(--background-color);
    background-image:url('images/splashImage.png');
    height: 100vh;
    overflow: hidden;
}

.home-flex-container {
    display: flex;
    justify-content: space-evenly;
}

#home header {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    background-color: white;
    height: 10rem;
}

.header-nav {
 line-height: 3rem;
}

.slogan-button-container {
    width:40%;
}

.phone-container {
    padding: 10rem;
}

#home .btn {
    background-color: var(--button-color);
    height: 4rem;
    margin: 0rem 0 10rem 5rem;
}

.phone {
    margin-top: 5rem;
}

#about {

    display: flex;
}
 .main-about-container {
     width: 60%;
     padding: 4rem;
     background-color: var(--seconday-background-color);
 }

 .heading-logo-container {
     display: flex;
     justify-content: space-between;
 }


 i {
     font-size: 7rem;
     color: white;
     margin-right: 5rem;
 }

 .about-image {
     background-image: url('images/singer.jpeg');
     background-position: center;
     width: 40%;
     object-fit: cover;
 }

 .events-header {
    background-color: var(--background-color);
    background-image: url('images/splashImage.png');
    height: 15rem;
    padding: 4rem;
 }

 .events-cta-container {
     display: flex;
     justify-content: space-evenly;
 }

 .dates-container {
     padding: 2rem;
     width: 60%;
 }

 .event-card {
     padding: 2rem;
     margin-top: 2rem;
     margin-bottom: 5rem;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.40);
    height: 15rem;
    min-height: 15rem;
    min-width: 48rem;
    overflow: hidden;
 }


 span {
     background-color: grey;
     height: 13rem;
     min-width: 13rem;
     border-radius: 50%;
     margin-right: 2rem;
 }

 aside {
     padding: 4rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     max-width: 30%;
 }

 aside .btn {
     margin-top: 5rem;
    background-color: var(--button-color);
    height: 4rem;
    width: 100%;
}

.one {
    background-image: url('images/Kali_Uchis.jpg');
    background-position: center;
    background-size: cover;
}

.two {
    background-image: url('images/title_fight.jpg');
    background-position: center;
    background-size: cover;
}

.three {
    background-image: url('images/joyce-manor.jpg');
    background-position: center;
    background-size: cover;
}

.four {
    background-image: url('images/into-it-over-it.jpg');
    background-position: center;
    background-size: cover;
}

#artists {
    padding: 4rem;
    background-color: var(--seconday-background-color);
}

#artists header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.artists-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.artists-card {
    min-height: 30rem;
    width: 20%;
    min-width: 30rem;
    flex-grow: 1;
    background-color: white;
    margin: 3rem;
    border-radius: 10px;
    padding: 2rem;
    background-image: url('images/toe.jpg');
    background-size: cover;
    color: white;
}   

.artists-card:not(.artists-cta-card){
    padding: 3rem;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: right;
    font-size:2rem;
    font-weight: bold;
 }

.artists-cta-card {
    background-color: var(--seconday-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: unset;
    
}

.artists-cta-card .btn {
    background-color: var(--secondary-button-color);
    width: 100%;
}

.toe {
    background-image: url('images/toe.jpg');
}

.bbng {
    background-image: url('images/bbng2.jpg');
}

.jpeg {
    background-image: url('images/jpegmafia.jpg');
}

.molchat-doma {
    background-image: url('images/molchat_doma.jpg');
}

.hawaiian-gremlins {
    background-image: url('images/gremlins.jpg');
}

.father {
    background-image: url('images/father.jpg');
}

.q {
    background-image: url('images/school-boy-q.jpg');
}


.sign-up-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('images/zagHeadings.png');
    background-size:cover;
    background-position: center;
    height: 17rem;
    padding: 4rem;
}

form {
    display: flex;
    width: 90%;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.40);
    margin: 5rem auto;
    padding: 4rem;
}



input {
    width: 100%;
    height: 5rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.form-container {
    width: 50%;
}

.social-sign-up-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    
}

.social-sign-up-container .btn {
    margin: 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding: 4rem;
    height: 15rem;
    background-color: var(--background-color);
    text-align: right;
}

footer i {
    color: var(--seconday-background-color);
    font-size: 4rem;
    cursor: pointer;
}

/*=========  tablet Styles =========*/
@media(max-width: 840px){

/*========= Variables ========= */
:root {
    /*colors*/
    --logo-color: #5D13E7;
    --general-font-color: black;
    --button-font-color: white;
    --secondary-general-font-color: white;
    --seconday-button-font-color: black;
    --h2-color: black;
    --secondary-h2-color: white;
    --scrolling-h2-color: #BDF2D5;
    --button-color: #5D13E7;
    --secondary-button-color: #BDF2D5;
    --background-color: #BDF2D5;
    --seconday-background-color: #5D13E7;
    --third-background-color: white;
    --border-color: #5D13E7;
    --secondary-border-color: #BDF2D5;

    /* units */
    --header-links: 2rem;
    --logo-size: 4rem;
    --headings-size: 4rem;
    --general-font-size: 2rem;
    --card-font-size: 2rem;
    --btn-font-size: 1.6rem;
    --dates-font-size: 2.2rem;
    --footer-nav-links: 1.2rem;
}

/*========= Typography ========= */
h2 {
    font-size: var(--headings-size);
}
.scrolling-text {
    font-size: 3rem;
}

.sign-up-header h2 {
    text-align: center;
    line-height: 1.5;
}

/*========= Layout ========= */

.header-nav a{
    display: none;
}

.drop-down {
    display: block;
    margin: -1rem;
}

.close-menu {
    display: none;
}

.events-header {
    height: 15%;
}

.events-cta-container {
    flex-direction: column;
    justify-content: center;
}

.event-card {
    width: 90%;
}

.dates-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


aside {
    max-width: unset;
    width: 100%;
}

aside .btn {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
}

.artists-card-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

 .artists-card {
    height: 40rem;
    width: 100%;
    margin: 0 0 3rem 0;
} 

form {
    flex-direction: column;
}

.form-container {
    width: 100%;
}

input {
    width: 100%;
}

form .btn {
    width: 100%;
    margin-bottom: 5rem;
}

.social-sign-up-container{
    width: 100%;
}

footer i {
    font-size: 2rem;
    margin: 1rem;
}

}

/*=========  Mobile Styles =========*/
@media(max-width: 600px){

    /*========= Variables ========= */
    :root {
        /*colors*/
        --logo-color: #5D13E7;
        --general-font-color: black;
        --button-font-color: white;
        --secondary-general-font-color: white;
        --seconday-button-font-color: black;
        --h2-color: black;
        --secondary-h2-color: white;
        --scrolling-h2-color: #BDF2D5;
        --button-color: #5D13E7;
        --secondary-button-color: #BDF2D5;
        --background-color: #BDF2D5;
        --seconday-background-color: #5D13E7;
        --third-background-color: white;
        --border-color: #5D13E7;
        --secondary-border-color: #BDF2D5;
    
        /* units */
        --header-links: 2rem;
        --logo-size: 3rem;
        --headings-size: 3rem;
        --general-font-size: 1.8rem;
        --card-font-size: 2rem;
        --btn-font-size: 1.6rem;
        --dates-font-size: 1.2rem;
        --footer-nav-links: 1.2rem;
    }
    
    /*========= Typography ========= */
    .logo {
        font-size: var(--logo-size);
    }
    #home h2{
        font-size: 5rem;
        margin: 2rem 0 2rem 1rem;
    }

    #home p {
        margin :0;
        margin-left: 1rem;
    }

    #about p {
        line-height: 1.5;
    }

    .event-card p {
        font-size: var(--dates-font-size);
    }

    aside p {
        font-size: var(--general-font-size);
    }

    .artists-card {
        font-size: var(--general-font-size);
    }

    .artists-header h2 {
        width: 100%;
        align-self: flex-start;
    }

    label {
        font-size: var(--general-font-size);
    }

    .footer-nav a {
        text-decoration: none;
    }
    
    /*========= Layout ========= */

    #home {
        background-position: 39%;
    }


    #home header {
        padding: 2rem;
        padding-top: 4rem;
        line-height: 9;
    }

    .phone-container {
        display: none;
    }

    .slogan-button-container {
        width: 100%;
        text-align: left;
    }

    .home-flex-container {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    #home .btn {
        width: 100%;
        margin-left: 0;
        margin-top: 5rem;
    }

    .about-image {
        display: none;
    }
    
    .main-about-container {
        width: 100%;
    }

    #about i {
        margin-top:1rem;
        margin-right: 2rem;
    }

    #events header {
        background-position: 95%;
    }

    .events-cta-container {
        display: flex;
        justify-content: space-evenly;
    }
   
    .dates-container {
        padding: 2rem;
        width: 100%;
    }
   
    .event-card {
        margin-bottom: 3rem;
        min-width: 100%;
    }

    span {
        min-height: 5rem;
        min-width: 8rem;
        height: 8rem;
        width: 8rem;
    }

    #artists {
        overflow: hidden;
        padding: 2rem;
    }

    .artists-header {
        flex-direction: column;
        padding: 2rem;

    }

    .artists-card {
        min-width: 100%;

    }

    .artists-cta-card{
        flex-grow: 0;
        height: 3rem;
        padding: 0rem;
    }

    .sign-up-header {
        background-size: contain;
        background-repeat: no-repeat;
    }

    form {
        padding: 2rem;
    }

    .footer-nav {
        margin-top: -4rem;
        display: flex;
        flex-direction: column;
    }

    .footer-nav a {
        font-size: 1rem;
        margin: .5rem;
    }

}

/*=========  Login Styles =========*/

/*========= typograpghy =========*/
#login h2 {
    margin-bottom: 5rem;
    border-color: var(--border-color);
}

/*=========  Layout =========*/
#login {
    overflow: hidden;
}


#login header {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    height: 10rem;
}

